# Version Control
.git
.gitignore

# Documentation
README.md
*.md
docs/

# Logs and Databases
logs/
*.log

# Docker Specific
Dockerfile
docker-compose.yml
docker-run.sh

# Go Specific
notification-service
vendor/

# OS Specific
.DS_Store
.*.swp
